<!DOCTYPE html>
<html>
  <head>
    <title>BeerHookup</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

    <body>
      <div class="flex h-screen">
        <div class="w-1/3">
          <nav class="hidden md:block h-full bg-zinc-200">
            <%= render "beers/search" %>
          </nav>
        </div>

        <div class="w-full bg-zinc-100">
          <main class="p-16 overflow-y-auto">
            <%= yield %>
          </main>
        </div>
      </div>
    </body>
</html>
